html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
	scroll-behavior: smooth;
}
body {
	line-height: 1;
	background-color: #FFF1D6;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

a {
	text-decoration: none;
	color: black;
}

button {
	box-shadow: none;
}

@font-face {
	font-family: 'GoodOne';
	src: url(../fonts/Mulish-Regular.ttf);
}

@font-face {
	font-family: 'Markus-medium';
	src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
	font-family: 'Markus-extra';
	src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
	font-family: 'Markus-description';
	src: url(../fonts/Oswald-Regular.ttf);
}

.wrapper {
	max-width: 800px;
	margin: 0 auto;
}

.header {
	background-color: #2F8956;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nam {
	margin-right: 5%;
}

.nam h1 {
	font-size: 21px !important;
	color: #2A7A4C !important;
}

.logo {
	margin-left: 5%;
	padding: 18px 0 16px 0;
}

.logo h1 {
	font-family: 'Markus-extra';
	font-size: 32px;
	line-height: 1.4;
	letter-spacing: 1.2px;
	color: #fff;
}

/*-------------Header-----------------*/

.description {
	margin: 25px 0 25px 4%;
}

.description h2 {
	font-family: 'Markus-medium';
	font-size: 20px;
}

.content-bg {
	background-color: #FFD175;
	padding-top: 2%;
	margin-bottom: 15px;
}

.content-body {
	padding: 1.15rem;
}

.title-content {
	margin-bottom: 12px;
}

.title-content h2 {
	font-family: 'Markus-description';
	font-size: 21px;
	letter-spacing: 1px;
	color: #3D3D3D;
}

.formik {
	display: grid;
	grid-template-columns: 9fr 2fr;
	grid-gap: 22px;
	margin-top: 15px;
}

.formik button {
	font-family: 'GoodOne';
	background-color: #FFF1D6;
	border-color: #FFF1D6;
	font-size: 23px;
}

.input-blok input {
	font-family: 'GoodOne';
	background-color: #FFF1D6;
	border-color: #FFD175;

	width: 100%;
	min-height: 32px;
	font-size: 20px;
	padding-left: 12px;
	padding-bottom: 2px;
}

/*-----------------------------------*/

.tasks-list {

}

.emptLi {
	margin-top: 50px;
	padding: 1rem;
	text-align: center;
}

.emptLi img {
	max-width: 100px;
}

.emptLi div {
	margin-top: 36px;
	font-family: GoodOne;
	font-size: 22px;
}

/*----*/

.addList {
	padding: 1.2rem;
	margin-top: 8px;
}

.addList {
	font-family: 'GoodOne';
	font-size: 20px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	background-color: #FFF8EB;
}

.addList span {
	max-width: 80%;
}

.addList button {
	background-color: #FFF1D6;
	margin-left: 2px;
	padding: 6px 10px;

	border: 1px solid #FFB01F;
}

.addList button img {
	margin-top: 2px;
}


/*--------for js----------*/

.none {
	display: none;
}

.completed {
	color: #FFA90A;
	text-decoration: line-through;
	text-decoration-color: rgba(255, 148, 148, 0.5);
}

.p-e-n:active {
	/*pointer-events: none;*/
	width: 22px;
	height: 26px;
}

.formik:active button {
	font-size: 28px;
}


@media (max-width: 520px) {
	.addList span {
		max-width: 70%;
	}
}

@media (max-width: 390px) {
	.addList span {
		max-width: 60%;
	}
}

@media (max-width: 345px) {
	.addList span {
		max-width: 50%;
	}

	.content-bg {
		padding-top: 0;
	}

	.logo {
		padding: 10px 0 12px;
	}
}